h1{
	font-family: "Brush Script MT", "Snell Roundhand", cursive;
	background-color: #1E90FF;
	padding: 10px;
	margin: auto;
	border-radius: 15px;
}
.menu ul{
	font-size: 16px;
}
.menu a{
	color: white;
}
.menu ul li{
	display: inline;
	margin-left: 20px;
}
header{
	position: relative;
}
.menu{
	position: absolute;
	right: 15px;
	bottom: 4px;
}
.Espaço{
	float: right;
	margin-right: 15px;
	background-color: #1E90FF;
	padding-top: 16px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 15px;
}
.buscas input[type=search]{
	width: 400px;
	border-radius: 5px;
}
.Botao button{
	border-radius: 5px;
}
.menu-preguiça{
	float: left;
	margin-top: 10px;
	clear: left;
	display: inline-block;
	
	background-color: #DCDCDC;
	text-transform: uppercase;
	width: 285px;
	border-radius: 10px;
}
.menu-preguiça h2{
	font-family: "Verdana", sans-serif;
	font-size:20px;
	padding-left: 8px;
}
.menu-preguiça li{
	font-size: 15px;
	margin-bottom: 2px;
	padding: 5px 3px;
}
.menu-preguiça a{
	color: #333333;
	text-decoration: none;
}
ol, ul{
	list-style: none;
}
.Paineis{
	margin:10px 0;
	padding: 10px;
	width: 1000px;
}
.Paineis li{
	display: inline-block;
	width: 140px;
	vertical-align: top;
	vertical-align: bottom;
	padding-right: 30px;

	margin:7px;
}
.Paineis h2{
	padding-left: 15px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;

	margin-bottom: 10px;
}
.Paineis a{
	color: #333;
	font-size: 14px;
	text-decoration: none;
}
.Paineis img{
	width: 150px;
}
.Lançamentos{
	height: 390px;
	width: 1330px;
	background-color: #DCDCDC;
	margin-top: 15px;
	margin-bottom: 15px;
	display: inline-block;

	border-radius: 15px;
}
.mv{
	height: 390px;
	width: 1330px;
	background-color: #DCDCDC;
	display: inline-block;
	
	border-radius: 15px;
}
.Des img{
	float: right;
	width: 1000px;
	display: inline-block;
	border-radius: 15px;
	vertical-align: top;
}
.Mei img{
	width: 157px;
}
.Conser img{
	width: 157px;
}
.Jar img{
	width: 157px;
}
.Got img{
	width: 157px;
}
.Passaros img{
	width: 158px;
}
.jk img{
	width: 134px;
}
.Hum img{
	width: 157px;
}
.Bre img{
	width: 157px;
}
.Des img:hover{
	width: 1007px;
	transition: 2s;
}
.menu-preguiça a:hover{
	font-weight: bold;
}
.Lançamentos img:hover{
	width: 160px;
	transition: 0.3s;
}
.menu a:hover{
	font-weight: bold;
}
.mv img:hover{
	width: 160px;
	transition: 0.3s;
}